@font-face {
    font-family: 'Sparks Bar Extranarrow';
    src: url('../assets/sparks/eot/Sparks-Bar-Extranarrow.eot');
    src: url('../assets/sparks/eot/Sparks-Bar-Extranarrow.eot?#iefix') format('embedded-opentype'),
         url('../assets/sparks/woff2/Sparks-Bar-Extranarrow.woff2') format('woff2'),
         url('../assets/sparks/woff/Sparks-Bar-Extranarrow.woff') format('woff'),
         url('../assets/sparks/ttf/Sparks-Bar-Extranarrow.ttf') format('truetype');
}

@font-face {
    font-family: 'Sparks Bar Narrow';
    src: url('../assets/sparks/eot/Sparks-Bar-Narrow.eot');
    src: url('../assets/sparks/eot/Sparks-Bar-Narrow.eot?#iefix') format('embedded-opentype'),
         url('../assets/sparks/woff2/Sparks-Bar-Narrow.woff2') format('woff2'),
         url('../assets/sparks/woff/Sparks-Bar-Narrow.woff') format('woff'),
         url('../assets/sparks/ttf/Sparks-Bar-Narrow.ttf') format('truetype');
}

@font-face {
    font-family: 'Sparks Bar Medium';
    src: url('../assets/sparks/eot/Sparks-Bar-Medium.eot');
    src: url('../assets/sparks/eot/Sparks-Bar-Medium.eot?#iefix') format('embedded-opentype'),
         url('../assets/sparks/woff2/Sparks-Bar-Medium.woff2') format('woff2'),
         url('../assets/sparks/woff/Sparks-Bar-Medium.woff') format('woff'),
         url('../assets/sparks/ttf/Sparks-Bar-Medium.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* CUSTOM VIDEO STYLES */
div.video-react-control-bar {
    display: none;
}

div.video-react,
div.dropzone,
#editor > .waveform {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.dropzone {
    width: 100%;
    height: 300px;
    background: #f1f1f1;
    position: relative;
}

.dropzone::before {
    content: "Drop a video file!";
    color: #333;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.dropzone.active::before {
    display:none
}

.dropzone.active {
    background: #C5EF99;
}

.dropzone.minimize {
    height: 100px;
}

.dropzone.minimize::before {
    content: "Drop a new video file"
}

.video-react {
    outline: none;
}

video.video-react-video {
    width: 100%;
    position: relative;
    z-index: 0;
}


#chunk-editor {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    padding: 40px 30px;
}

#chunk-editor.trimming *,
#chunk-editor.trimming {
    cursor: col-resize !important;
}

#chunk-editor div.chunk {
    display: inline-block;
    position: relative;
    vertical-align: top;

    margin-right: 30px;
    padding: 0 15px;
    padding-bottom: 30px;
}

.chunk input {
    margin-top: 20px;
    width: 100%;
    left: 0;
    display: block;
    position: absolute;
    background: none;
    border: none;
    outline: none;

    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.chunk div.data {
    margin-top: 18px;
}

.chunk div.data span {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 12px;
    vertical-align: top;
}

.chunk div.data span.end { float: right; }

.chunk div.data span.start { margin-right: 5px; }

.chunk div.handle {
    position: absolute;
    cursor: col-resize;
    width: 20px;
    top: 0;

    z-index: 6;
}

.chunk div.handle.start { left: 10px; }
.chunk div.handle.end { right: 10px; }

.waveform,
.chunk div.handle {
    height: 110px;
}

.chunk div.delete {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background: red;
    border-radius: 18px;
    cursor: pointer;
    z-index: 20;
    opacity: 0;

    transition: 0.1s opacity ease-in-out;
    -o-transition: 0.1s opacity ease-in-out;
    -moz-transition: 0.1s opacity ease-in-out;
    -webkit-transition: 0.1s opacity ease-in-out;
}

/* TODO: ICON FONT */
.chunk div.delete:before {
    font-family: 'Sparks Bar Narrow'; 
    font-weight: 700;
    font-size: 16px;
    display: block;
    width: 19px;
    text-align: center;
    position: relative;
    top: 1px;
    content: "X";
    color: white;
}

.chunk.active div.delete {
    opacity: 1;
}

.waveform {
    font-feature-settings: "calt";
    font-variant-ligatures: contextual;
    -moz-font-feature-settings: "calt";
    -webkit-font-feature-settings: "calt";

    white-space: nowrap;

    position: relative;
    z-index: 5;

    font-size: 3rem;

    /* Hardware accellerate whoosh */
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    transform: translateZ(0);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: grab;
}

.waveform span {
    font-family: 'Sparks Bar Narrow'; 

    display: inline-block;
    transform: scale(1,10);
    color: black;
    position: relative;
    top: -2.6rem;

    pointer-events: none;
}

.waveform span.chunk {
    color: pink;
}

.waveform span.playhead {
    color: red;
}

.chunk .waveform span {
    font-family: 'Sparks Bar Narrow'; 
}
