@font-face {
  font-family: 'batch';
  src:  url('../assets/batch/batch.eot?i7fcdf');
  src:  url('../assets/batch/batch.eot?i7fcdf#iefix') format('embedded-opentype'),
        url('../assets/batch/batch.ttf?i7fcdf') format('truetype'),
        url('../assets/batch/batch.woff?i7fcdf') format('woff'),
        url('../assets/batch/batch.svg?i7fcdf#batch') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
    font-family: 'batch' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    /* Better font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon.next:before { content: "\e904"; }
.icon.play:before { content: "\e905"; }
.icon.rate:before { content: "\e907"; }
.icon.time:before { content: "\e90a"; }
.icon.type:before { content: "\e90b"; }
.icon.pause:before { content: "\e90e"; }
.icon.delete:before { content: "\e901"; }
.icon.handle:before { content: "\e903"; }
.icon.repeat:before { content: "\e908"; }
.icon.upload:before { content: "\e90c"; }
.icon.volume:before { content: "\e90d"; }
.icon.download:before { content: "\e902"; }
.icon.captions:before { content: "\e900"; }
.icon.previous:before { content: "\e906"; }
.icon.sidehandle:before { content: "\e909"; }
