body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

video {
    width: 100%;
    width: 400px;
    height: 200px;

    position: relative;
    display: block;
    margin: 0 auto;
    float: none;

}

input {
    display: block;
    width: 100%;

    border: none;
    outline: none;

    font-weight: 500;
    margin-bottom: 15px;
}

#options,
#captions {
    padding-top: 15px;
    width: 360px;
    margin: 0 auto;
    display: block;
}

.caption {
    display: block;
    height: 20px;
}

.caption span {
    float: right;
    font-style: italic;
    font-weight: 800;
    font-size: 0.8em;
}

#exportbutton {
    cursor: pointer;

}
